<!DOCTYPE html>
<html>
  <head>
    <title>BlueReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div>
        <%= image_tag("icon-logo-header.png", class:"head-logo", style:"height: 23px;") %>
        Orange Review
      </div>
      <nav>
        <a href="#">Topics</a>
        <a href="#">Tags</a>
        <%= image_tag("icon-search-header.png", style:"height: 14px", class:"head-magnify-orange;")%>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div>
        <%= image_tag("icon-logo-header.png", style: "height:23px", class: "head-logo;")%>
        Orange Review
      </div>
      <p class="footer-tagline">
        The Best Travel Tips
      </p>
      <h6 class="copyright">
        Copyright 2018, Build Carolina.
      </h6>
    </footer>
  </body>
</html>
